<%= bootstrap_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-lg-6">

        <%= f.text_field :title %>

        <%= f.file_field :icon %>
        <%= f.file_field :file %>
      </div>

      <div class="col-lg-6">
        <%= f.collection_select :category_id, Category.all, :id , :name %>
        <%= f.collection_select :genre_id, Genre.all, :id , :name %>
        <%= f.collection_select :state_id, State.all, :id , :name %>

        <%= f.number_field :page_no %>
        <%= f.number_field :word_count %>

        <% if user_signed_in? && current_user.admin %>
          <%= f.text_field :state_id %>
          <%= f.number_field :editor_id %>
          <%= f.number_field :author_id %>
        <% end %> 

      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
