<h1>Manuscripts</h1>

<div class="row">
  <% @projects.each do |project| %>
      <div class="col-md-4">
              <div class="well well-sm">
                  <div class="media text-center">
                          <%= link_to image_tag( project.icon.url(:thumb) ) , project.file.url %>
                      <div class="media-body">
                          <h4 class="media-heading"><%= project.title %></h4>
                      <p><span class="label label-info"><%= project.category.name %></span> <span class="label label-warning"><%= project.genre.name %></span></p>
                        <table class="table">
                          <tr>
                            <th>
                              Author
                            </th>
                            <td>
                              <%
                                  if project.author
                                    concat project.author.email
                                  else
                                    concat "Unknown"
                                  end
                                  # will either display "Logged in!" or a login link
                              %>                        
                            </td>
                          </tr>
                          <tr>
                            <th>Page Quantity</th>
                            <td><%= project.page_no %> pages</td>
                          </tr>
                          <tr>
                            <th>Word Count</th>
                            <td><%= project.word_count %> words</td>
                          </tr>
                          <tr>
                            <th>State</th>
                            <td><%= project.state.name %> project</td>
                          </tr>                                                  
                        </table>
                          <%= link_to "Download Manuscript", project.file.url, :class => "btn btn-success" %>
                          <br><br>
                          <div class="row">
                            <%= link_to 'Show', project, :class => "btn btn-default" %>
                            <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-info" %>
                            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

  <% end %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
